<nav th:fragment="adminMenu">
    <div class="logo-sec">
        <h1 class="logo">
            <a th:href="@{/dashboard}"><img
                    src="/img/logo.svg" alt="EMS"> <span>EMS</span>
            </a>
        </h1>
        <p id="sidebar-btn">
            <img src="/img/menu_icon.svg" alt="Icon" class="pc"> <img
                src="/img/menu_icon_sp.png" alt="Icon" class="sp">
        </p>
    </div>
    <ul class="sidebar-nav-list">
        <li class="dashboard"><a th:href="@{/dashboard}" class="active">
                <span class="invisible">Dashboard</span>
            </a></li>
        <li class="report nav-list-item"><a href="#" class="nav-sp">
                <span class="invisible">Report</span>
            </a>
            <ul class="sub-nav-list">
                <li><span class="toggle">Attendance</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/registerShift}">Shift
                                Registration</a></li>
                        <li><a th:href="@{/listAttendance}">Attendance
                                History</a></li>
                    </ol>
                </li>
                <li><a th:href="@{/listFingerprint}">
                        <span class="invisible">Fingerprint</span>
                    </a></li>
                <li><span class="toggle">Leave</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/leaveRequest}">Leave
                                Request</a></li>
                        <li><a th:href="@{/leaveRecord}">Leave
                                History</a></li>
                        <li><a th:href="@{/earlyLeaveOrLateRecord}">Early
                                Leave Or Late Record</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Overtime</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/listOvertimes}">Overtime
                                Request</a></li>
                        <li><a th:href="@{/historyOvertime}">Overtime
                                History</a></li>
                        <li><a th:href="@{/listCompensatory}">Compensatory
                                Chart Detail</a></li>
                    </ol>
                </li>
                <li><span class="toggle">WFH</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/listWFH}">WFH
                                Request</a></li>
                        <li><a th:href="@{/memberWFHHistory}">WFH
                                History</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Other Transportation</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/otherTransportationRequest}">Transportation
                                Request</a></li>
                        <li><a th:href="@{/otherTransportationHistory}">Transportation
                                History</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Department Change</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/departmentChangeRequestList}">Department
                                Change Request</a></li>
                        <li><a th:href="@{/departmentChangeRequestHistory}">Department
                                Change History</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Address Change</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/addressChangeRequestList}">Address
                                Change Request</a></li>
                        <li><a th:href="@{/addressChangeRequestHistory}">Address
                                Change History</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Profile Change</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/profileChangeRequestList}">Profile
                                Change Request</a></li>
                        <li><a th:href="@{/profileRequestListHistory}">Profile
                                Change History</a></li>
                    </ol>
                </li>
            </ul>
        </li>
        <li class="employee nav-list-item"><a href="#" class="nav-sp">
                <span class="invisible">Employee</span>
            </a>
            <ul class="sub-nav-list">
                <li><span class="toggle">Employee</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/registerEmployee}">Employee
                                Registration</a></li>
                        <li><a th:href="@{/listEmployees}">Employee
                                List</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Employee Ferry</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/employeeFerry/import}">Employee
                                Ferry Import</a></li>
                        <li><a th:href="@{/employeeFerry/dataList}">Employee
                                Ferry List</a></li>
                        <li><a th:href="@{/guestEmployee/import}">Guest
                                Employee Import</a></li>
                        <li><a th:href="@{/guestEmployee/list}">Guest
                                Employee List</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Department</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/departmentMemberList}">Department
                                Member List</a></li>
                        <li><a th:href="@{/listDepartments}">Department
                                List</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Group Chat</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/groupChatRegister}">Group
                                Chat Register</a></li>
                        <li><a th:href="@{/chatList}">Group
                                Chat List</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Project Assign</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/registerProjectAssign}">Project
                                Assign Register</a></li>
                        <li><a th:href="@{/listProjectAssign}">Project
                                Assign Information</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Transportation</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/transportationHistory}">Transportation
                                History</a></li>
                        <li><a th:href="@{/transitionList}">Transition
                                List</a></li>
                    </ol>
                </li>
                <li><a th:href="@{/schedule}">
                        <span class="invisible">Schedule</span>
                    </a></li>
                <li><a th:href="@{/positionChangesHistory}">
                        <span class="invisible">Position Change History</span>
                    </a></li>
                <li><a th:href="@{/attendanceSchedule}">
                        <span class="invisible">Attendance Schedule</span>
                    </a></li>
            </ul>
        </li>
        <li class="employee nav-list-item"><a href="#" class="nav-sp">
                <span class="invisible">Sys Management</span>
            </a>
            <ul class="sub-nav-list">
                <li><a th:href="@{/defaultSystemSetting}">
                        <span class="invisible">Default System Setting</span>
                    </a></li>
                <li><a th:href="@{/organizationChartRegister}">
                        <span class="invisible">Organization Chart</span>
                    </a></li>
                <li><span class="toggle">Position</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/registerPosition}">Position
                                Registration</a></li>
                        <li><a th:href="@{/listPosition}">Position
                                List</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Certificate</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/addLanguage}">Certificate
                                Registration</a></li>
                        <li><a th:href="@{/listLanguage}">Certificate
                                List</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Leave Type</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/registerLeaveType}">Leave
                                Type Registration</a></li>
                        <li><a th:href="@{/listLeaveType}">Leave
                                Type List</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Ferry</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/ferryRoute/ferryRouteList}">Ferry
                                Route Management</a></li>
                        <li><a th:href="@{/listFerry}">Bus
                                List</a></li>
                        <li><a th:href="@{/listDriver}">Driver
                                List</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Holiday</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/addHoliday}">Holiday
                                Registration</a></li>
                        <li><a th:href="@{/listHoliday}">Holiday
                                List</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Meeting Room</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/registerMeetingRoom}">Meeting
                                Room Register</a></li>
                        <li><a th:href="@{/listMeetingRoom}">Meeting
                                Room List</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Equipment</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/registerEquipment}">Equipment
                                Registration</a></li>
                        <li><a th:href="@{/listEquipment}">Equipment
                                List</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Currency</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/registerCurrency}">Currency
                                Registration </a></li>
                        <li><a th:href="@{/listCurrency}">Currency
                                List</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Exchange Rate</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/registerExchangeRate}">Exchange
                                Rate Registration </a></li>
                        <li><a th:href="@{/listExchangeRate}">Exchange
                                Rate List</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Shift Pattern</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/registerPattern}">Pattern
                                Registration </a></li>
                        <li><a th:href="@{/listPattern}">Pattern
                                List</a></li>
                    </ol>
                </li>
            </ul>
        </li>
        <li class="payment nav-list-item"><a href="#" class="nav-sp">
                <span class="invisible">Payment</span>
            </a>
            <ul class="sub-nav-list">
                <li><span class="toggle">Payment Attribute</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/addPayment}">Attribute
                                Registration</a></li>
                        <li><a th:href="@{/listPaymentAttribute}">Attribute
                                List</a></li>
                    </ol>
                </li>
                <li><a th:href="@{/paymentSlip}"> <span class="invisible">Payment Slip
                            Template</span></a></li>
                <li><span class="toggle">Skill</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/registerSkillAmount}">Skill
                                Registration</a></li>
                        <li><a th:href="@{/listEmployeeSkill}">Skill
                                List</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Payment Calculation</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/paymentAtrriDetailRegister}">Payment
                                Detail Registration</a></li>
                        <li><a th:href="@{/paymentAttriDetailList}">Payment
                                Detail List</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Payment Check</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/paymentCheck}">All
                                Payment Check</a></li>
                        <li><a th:href="@{/singlePaymentCheck}">Single
                                Payment Check</a></li>
                    </ol>
                </li>
                <li><span class="toggle">Payment History</span>
                    <ol class="child-nav-list">
                        <li><a th:href="@{/paymentList}">Payment
                                Slip History</a></li>
                        <li><a th:href="@{/bankSlip}">Bank
                                Slip History</a></li>
                        <li><a th:href="@{/cashStatement}">Cash
                                Statement History</a></li>
                        <li><a th:href="@{/cashSign}">Cash
                                Sign History</a></li>
                        <li><a th:href="@{/listTotalSalary}">Total
                                Salary History</a></li>
                    </ol>
                </li>
            </ul>
        </li>
    </ul>
</nav>